@import "modals/variables";
@import "partials/header";
@import "partials/start";
@import "partials/history";

body {
    background-color: black;
    color: white;
    font-size: 14px;
}
h2 {
    font-weight: bold;
    font-size: 1.8em;
}
section{
    padding: 50px 0;
}