#best-food{
    background-color: white;
    color: black;
    .container{
        position: relative;
        p{
            padding: 20px 0;
           margin-right: 100px; 
        }
        img{
            width: 100px;
            margin: 10px;
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
    .mid-image{
        height: 400px;
        background: url("../images/bgrasp.png") center no-repeat;
        background-size: cover;
    }
}